body {
    padding: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
#initial_view h2 {
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -.015em;
}

h2 {
    font-size: 24px;
    line-height: 1.33341;
    font-weight: 400;
    letter-spacing: .009em;

}



#uploadResumeForm input {
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0;
}

#uploadResumeForm input:focus,
#uploadResumeForm input:hover {
    border-bottom: 1px solid #161616;
}

button#uploadBtn {
    width: 100%;
    padding: 12px 11px;
    border-radius: 29px;
    background: black;
    border-color: black;
    border: 4px solid transparent !important;
}

button#uploadBtn:hover,
button#uploadBtn:focus,
button#uploadBtn:active,
.cta_btn:hover,
.cta_btn:focus,
.cta_btn:active {
    background: #108165 !important;
    /* border-color: #108165 !important; */
    border: 4px solid transparent !important;
}

.form-floating>label {
    padding-left: 0;
}

.secondary_label {
    color: #909090;
}

/* Form Input */

/* file upload button */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

input#resume.danger {
    border: 2px solid red;
}


input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}


input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

input#resume,
input#resume:hover,
input#resume:focus {
    border: none;
}

.cta_btn {
    width: 100%;
    padding: 12px 11px;
    border-radius: 29px;
    background: #181818;
    border-color: #181818;
    border: 4px solid transparent !important;
}

#initial_view,
#confirmation_view {
    min-height: 90vh;
}


div#initial_view,
#confirmation_view {
    max-width: 700px;
    margin: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #181818 !important;
}

.form-floating>.form-control:-webkit-autofill~label {
    transform: scale(.85) translateY(-.6rem) translateX(.0rem);
}

.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    transform: scale(.85) translateY(-.5rem) translateX(0rem);
}

footer {
    text-align: center;
    font-size: 0.6rem;
    text-transform: uppercase;
}

/* Form Errors */

.form-control.danger {
    border-bottom: 2px solid #dc3545 !important;
}

div#status {
    text-align: center;
}


/* Load indicator source -  */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #181818;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #181818 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading_indicator_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255 255 255 / 45%);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(10px);
}

.lds-ring {
    z-index: 999999;
}